<div class="w-full mx-auto flex items-center justify-center max-w-screen py-4 px-2.5 bg-primary-1 rounded-t-box">
    <span class="text-white font-medium text-sm">طراحی شده با ❤️ توسط محمد رئوف زاهد</span>
</div>