<div
        class="w-full max-w-screen mx-auto px-5 overflow-hidden text-center h-[500px] bg-primary relative bg-cover bg-no-repeat rounded-box flex flex-col items-center justify-center text-white gap-8">
    <h1
            class="font-black z-10 text-xl sm:text-2xl leading-header md:text-3xl md:leading-header  lg:text-5xl lg:leading-header max-w-[696px]">
        سلام! من محمد رئوف زاهد هستم! توسعه‌دهنده فرانت‌اند از تهران
    </h1>
    <span class="font-semibold z-10 text-base sm:text-lg md:text-xl leading-[165%] lg:text-2xl">
            توسعه‌دهنده فرانت‌اند در شرکت ایرانی کارت
        </span>
    <div class="absolute w-full h-full top-0 left-0 -z-10">
        <img class="w-full h-full object-fill" src="{{ theme.uri }}/static/images/hero-image.jpg" />
    </div>
    <div class="absolute w-full h-full bg-primary-1 opacity-50 top-0 left-0 z-0"></div>
</div>