<div id="skills-slider" class="keen-slider w-full h-max max-w-screen mx-auto" x-data="skillsSlider">
	{% for skill in skills %}
		<div class="keen-slider__slide w-max flex items-center justify-center gap-2.5">
			<span class="font-black text-xl" style="color: {{skill['color']}};">{{skill['name']}}</span>
			<div class="w-2 h-2 rounded-full" style="background-color: {{skill['color']}};"></div>
		</div>
	{% endfor %}
</div>
